* {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
  width: 120px;
  height: 150px;
  margin: 10px;
}

.bodywrapper {
  display: flex;
}

h1 {
  margin: 30px;
  margin-bottom: 80px;
}

.hotel {
  max-width: 500px;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}

.article {
  display: flex;
}

.propertyTypes,
.ratings {
  margin: 20px;
  margin-right: 0;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 10px;
}